CONSTRAINTS IN MYSQL
---------
1.NOT NULL - column cannot have any null value
2.UNIQUE - column cannot have any duplicates
3.PRIMARY KEY - NOT NULL + UNIQUE 
4.FOREIGN KEY - Cannot insert into child without inserting in parent
5.check - specific condition should be met
6.default - default value will be set if no value is specified
7.Create index - retrieve data from database quickly


1.NOT NULL:
CREATE TABLE DATABASE.TABLENAME(COLUMNNAME DATATYPE NOT NULL)
CREATE TABLE TEST1.SUBJECT(ID INT NOT NULL,SUBJECTNAME VARCHAR(2));

2.UNIQUE:
ALTER TABLE DATABASENAME.TABLENAME MODIFY COLUMNAME DATATYPE UNIQUE;
ALTER TABLE TEST1.SUBJECT MODIFY ID INT UNIQUE;

ALTER TABLE DATABASENAME.TABLENAME ADD UNIQUE(COLUMNANME)
ALTER TABLE TEST1.SUBJECT ADD UNIQUE(SUBJECTNAME);


3.PRIMARY KEY:
CREATE TABLE DATABASENAME.TABLENAME(COLUMNAME DATATYPE ,....,
PRIMARY KEY(COLUMNNAME));
CREATE TABLE `test1`.`department` (
  `sno` INT NOT NULL,
  `departmentId` INT NOT NULL,
  `departmentName` VARCHAR(45) NOT NULL,
  PRIMARY KEY (`departmentId`));
  
4.FOREIGN KEY:
CREATE TABLE DATABASENAME.TABLENAME(COLUMNAME DATATYPE,......,
FOREIGN KEY(COLUMNAME) REFERENCES PARENTTABLENAME(COLUMNNAME OF PARENT TABLE));
 CREATE TABLE test1.FACULTY (SNO INT,DEPARTMENTID INT,FACULTYID INT,FACULTYNAME VARCHAR(2),PRIMARY KEY (SNO),
FOREIGN KEY(DEPARTMENTID) REFERENCES DEPARTMENT(DEPARTMENTID));


5.CHECK:
ALTER TABLE DATABASENAME.TABLEN AME ADD CHECK(COLUMNAME CONDITION)
ALTER TABLE TEST1.STUDENT ADD CHECK(MARKS>60);

6.DEFAULT:
ALTER TABLE DATABASENAME.TABLENAME ALTER COLUMNNAME SET DEFAULT DEFAULTVALUE
ALTER TABLE TEST1.STUDENT ALTER ADDRESS SET DEFAULT 'HYD';

7.CREATE INDEX
CREATE INDEX INDEXNAME ON DATABASENAME.TABLENAME(COLUMNNAME)
CREATE INDEX idx_sname on TEST1.STUDENT(STUDENTNAME);
